@import "css/theme";

// Fonts
$basic_fonts: "Helvetica", "Noto Sans JP", "Arial",sans-serif;
$math_fonts: "Latin Modern", "Latin Modern Math";

body {
	font-size: 16px;
	font-family: $basic_fonts;
	padding: 0;
	margin: 0px 0.5em 0px 0.5em;
	width: auto;
}

@include theme() {
	color: theme-get(text-color);
	background: theme-get(bg-color);


	h1 {
		font-size: 24px;
	}
	h2 {
    	font-size: 20px;
    	border-color: theme-get(accent-color);
    	border-width: 0pt 0pt 0pt 5pt;
    	border-style: solid;
    	padding-left: 0.5em;
	}
	li {
    	margin-bottom: 5px;
	}
	.highlighted-text {
		color: theme-get(accent-color);
		font-weight: bold;
	}
	a {
		color: theme-get(link-color);
		&:hover {
			color: theme-get(hover-color);
			text-decoration: none;
		}
	}
	footer {
		border-top: solid 2px theme-get(accent-color);
		color: theme-get(text-secondary-color);
	}
	div.info{
		color: theme-get(text-secondary-color);
	}
}

.math {
	font-family: $math_fonts;
}

div#content{
	max-width: 1280px;
	margin: 0 auto;
}
// TODO use theme for header
div#header {
	border-bottom: 2px solid gray;
	margin-bottom: 30px;
	padding: 0;
	#logo {
		a {
			&:hover {
				color: $davys_gray;
			}
		}
	}
	#navigation {
		text-align: right;
		a {
			color: black;
			font-size: 18px;
			font-weight: bold;
			margin-left: 12px;
			text-decoration: none;
			text-transform: uppercase;
			&:hover {
				color: $davys_gray;
			}
		}
	}
}
// TODO use theme for logo
div#logo {
	a {
		color: black;
		float: left;
		font-size: 18px;
		font-weight: bold;
		text-decoration: none;
	}
}
footer {
		font-size: 12px;
		margin-top: 30px;
		padding: 0;
		text-align: right;
		#contact {
			float: left;
		}
		#last-updated {
			float: left;
			margin: auto 10px;
		}
		#hakyll {
			text-align: right;
		}
}

div.info {
	font-size: 14px;
	font-style: italic;
}
