<!doctype html>
<html lang="en">
$partial("templates/head.html")$
    <body>
        <script src="scripts/theme.js"></script>
        <!--
        <div id="header">
            <div id="logo">
                <a href="/">Ken Sakayor (酒寄 健)</a>
            </div>
            <div id="navigation">
                <a href="/">Home</a>
            </div>
        </div>
        -->

        <div id="content">
          <header>
            <h1>$h1$</h1>
          </header>
          <main>
            $body$
          </main>
        </div>
$partial("templates/footer.html")$
    </body>
</html>
