    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        $if(isindex)$
        <meta name="keywords" content="
        Ken Sakayori
        Computer Science
        Programming Language
        Concurrency
        Pi-Calculus
        The University of Tokyo
        ">
        <meta name="description" content="Assistant professor at The University of Tokyo">
        $endif$
        <title>$title$</title>
        <link rel="stylesheet" href="/css/default.css" />
$partial("templates/matomo.html")$
    </head>
