<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/posts.css" />
    </head>
    <body>
      <header class="article-header">
        <div id="header-title"><h1>$title$</h1></div>
        <div id="container">
          <span id="header-date">Posted: $date$</span>
          $if(tags)$<span id="tags" style="margin-left: 10px;">Tags: $tags$</span>$endif$
        </div>
$partial("templates/matomo.html")$
      </header>
      <main>
        <div id="content">
          $body$
        </div>
      </main>
$partial("templates/footer.html")$
</html>
