<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$</title>
$if(description)$
        <meta name="description" content="$description$">
        <meta property="og:type" content="article">
        <meta property="og:title" content="$title$">
        <meta property="og:description" content="$description$">
        <meta property="og:url" content="https://kensakayori.github.io$url$">
$if(locale)$
        <meta property="og:locale" content="$locale$">
$endif$
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="$title$">
        <meta name="twitter:description" content="$description$">
$endif$
        <link rel="stylesheet" href="/css/posts.css" />
    </head>
    <body>
      <script src="../../scripts/theme.js"></script>
      <header class="article-header">
        <div id="header-title"><h1>$title$</h1></div>
        <div id="container">
          <span id="header-date">Posted: $date$</span>
          $if(tags)$<span id="tags" style="margin-left: 10px;">Tags: $tags$</span>$endif$
        </div>
$partial("templates/matomo.html")$
      </header>
      <main>
        <div id="content">
          $body$
        </div>
      </main>
$partial("templates/footer.html")$
</html>
